@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'GangwonEduPowerExtraBoldA', sans-serif;
    text-align: center;
}
cb{color:rgb(235, 129, 164)}
b1{
    font-size:250%;
    text-shadow: -2px 0 rgb(255, 222, 230), 0 2px rgb(255, 222, 230), 2px 0 rgb(255, 222, 230), 0 -2px rgb(255, 222, 230);
}
b2{font-size:150%;}
b3{
    font-family:'GangwonEduPowerExtraBoldA', sans-serif;
    font-size:200%;
    line-height: 100%;
}
p{
    font-family: 'Cafe24Ssurround', 'san-serif';
    text-align: center;
}

div{font-family: 'Dovemayo_gothic', 'san-serif';}
.header{
    height: 105px;
    font-family: 'GangwonEduPowerExtraBoldA', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 200%;
    background-color: rgb(255, 222, 230);
}
.input_content{
    width: 280px;
    height: 330px;
    background-color:rgb(255, 198, 211);
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 170%;
    font-size: 85%;
}
.input_content2{
    width: 280px;
    height: 130px;
    background-color:rgb(255, 198, 211);
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 170%;
    font-size: 85%;
}
.outline{
    border: 2px dashed;
    border-color: rgb(255, 222, 230);
    border-radius: 10px;
}

body{
    background-color:rgb(58, 79, 122);
    position: relative;
}

#btn1{
    border: 1px solid rgb(58, 79, 122);
    background-color: rgb(255, 222, 230);
    font-family: 'Dovemayo_gothic';
    border-radius: 5px;
}
#btn1:hover{
    background-color: rgb(58, 79, 122);
}

a{
    color: rgb(58, 79, 122);
}
a:hover{
    color: rgb(255, 222, 230);
}

input{
    width: 150px;
    height: 17px;
    font-size: smaller;
    font-family: 'Dovemayo_gothic', 'san-serif';
    text-align: center;
    border: 0px;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
input[type=radio]{
    width: 12px;
    vertical-align: -5px;
}
input[type=checkbox]{
    width: 13px;
    vertical-align: -5px;
}
input[type=submit]{
    width: 100px;
    height: 30px;
    border: 1px solid rgb(255, 198, 211);
    background-color: rgb(58, 79, 122);
    color: rgb(255, 198, 211);
    border-radius: 5px;
    font-family: 'Cafe24Ssurround', 'san-serif';
}
input:hover[type=submit]{
    background-color: rgb(255, 198, 211);
    color: rgb(58, 79, 122);
}
input[type=reset]{
    width: 100px;
    height: 30px;
    border: 1px solid rgb(255, 198, 211);
    background-color: rgb(58, 79, 122);
    color: rgb(255, 198, 211);
    border-radius: 5px;
    font-family: 'Cafe24Ssurround', 'san-serif';
}
input:hover[type=reset]{
    background-color: rgb(255, 198, 211);
    color: rgb(58, 79, 122);
}